<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302203375774-qi3u75hjj0bn5gda5lv507polccmihno.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302203375774-qi3u75hjj0bn5gda5lv507polccmihno</string>
	<key>API_KEY</key>
	<string>AIzaSyCbZkm5Y1tRgH4wiE2s0qskGEqQcrgctfg</string>
	<key>GCM_SENDER_ID</key>
	<string>302203375774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travelApp</string>
	<key>PROJECT_ID</key>
	<string>travel-app-52346</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-app-52346.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302203375774:ios:d6028ca801525b03d4ab8f</string>
	<key>DATABASE_URL</key>
	<string>https://travel-app-52346-default-rtdb.firebaseio.com</string>
</dict>
</plist>